{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ name }}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>

{% block content1 %}
{% endblock content1 %}

{% block content2 %}
            {% for article in article_list %}
            <div class="article {{ other_class }}">
                <h3><a href="">{{ article.A_title }}</a></h3>
                <div class="content clearfix">
                    <div class="img">
                        <img src="{% static article.A_cover %}" alt="">
                    </div>
                    <span class="desc">{{ article.A_content|safe }}</span>
                    <a href="{% url 'blog:article' article.id %}" target="_blank"><button type="button" class="btn btn-success">阅读全文 >></button></a>
                </div>
                <p class="foot">
                        <span class="glyphicon glyphicon-time">
                            <span class="pubTime">{{ article.A_pubTime }}</span>
                        </span>
                    <span>
                            作者：<span>{{ article.A_author }}</span>
                        </span>
                    <span class="classify">
                            分类：[<a>{{ article.A_classify }}</a>]
                        </span>
                </p>
            </div>
            {% endfor %}
            <nav aria-label="Page navigation" class="paging">
                <ul class="pagination">
                    {% if p.has_previous %}
                    <li>
                        <a href="?page={{ index|add:'-1' }}" aria-label="Previous">
                    {% else %}
                    <li class="disabled">
                        <a aria-label="Previous">
                    {% endif %}
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% for index in list_range %}
                        {% if index == page_index %}
                    <li class="active"><a>{{ index }}</a></li>
                        {% else %}
                    <li><a href="?page={{ index }}">{{ index }}</a></li>
                        {% endif %}
                    {% endfor %}

                    {% if p.has_next %}
                    <li>
                        <a href="?page={{ index|add:'1' }}" aria-label="Next">
                    {% else %}
                    <li class="disabled">
                        <a aria-label="Next">
                    {% endif %}
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="right aside">
{% endblock content2 %}

{% block aside %}
            <div class="newest">
                <h2>最新<span>文章</span></h2>
                <ul>
                    {% for article in newest_art %}
                    <li><a href="{% url 'blog:article' article.id %}">{{ article.A_title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="newest">
                <h2>点击<span>排行</span></h2>
                <ol>
                    {% for article in hottest_art %}
                    <li><span>{{ forloop.counter }}</span><a href="{% url 'blog:article' article.id %}">{{ article.A_title }}</a></li>
                    {% endfor %}
                </ol>
            </div>
            <div class="newest other">
                <h2>友情<span>链接</span></h2>
                <p><a href="">github</a></p>
            </div>
            <div class="newest least">
                <h2>最近<span>访客</span></h2>
            </div>
{% endblock aside %}
        </div>
    </div>

    <footer>
        <div class="up" id="up">
            <div class="inner">
                <span class="glyphicon glyphicon-arrow-up"></span>
            </div>
        </div>
        <p>created by tanfeng. <span class="">**********</span></p>
    </footer>

    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    {% block jsFiles %}{% endblock jsFiles %}
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
    <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"{{ article.A_title|default:'谭峰个人博客' }}","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"0","bdPos":"right","bdTop":"300"},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>

</body>
</html>