{% extends 'base.html' %}

{% block content1 %}
<body>
    <header class="clearfix headActive">
        <span class="logo">TF<span>blog</span></span>
        <nav>
            <a href="{% url 'blog:index' %}">首页</a>
            <a class="active" href="">关于我</a>
            <a href="{% url 'blog:life' %}">生活</a>
            <a href="{% url 'blog:time' %}">时光轴</a>
            <a href="{% url 'blog:technique' %}">技术分享</a>
            <a href="{% url 'blog:feeling' %}">感悟</a>
            <a href="{% url 'blog:messages' %}">留言板</a>
        </nav>
    </header>

    <div class="useless"></div>

    <div class="main clearfix">
        <h2><span>关于我</span></h2>
        <div class="left blogList">
            <div class="brief article">
                <h3>依依东望</h3>
                <p>依依东望，望的是毕其一生的抱负、荣耀和最大的成就。</p>

                <p>最近出的这部电视剧《虎啸龙吟》是我最近几年来看的最认真的一部电视剧，起初只是看了其中一些片段，本身特别喜欢三国演义，加之觉得里面的演员扮相等方面都还不错（特别是诸葛亮同志扮演者确实给了我一些惊喜），所以开始追这部剧。</p>
                <p>在空城计的时候，主角司马懿有一句台词：依依东望，望的是毕其一生的抱负、荣耀和最大的成就。人的一生匆匆数十年，能做出非凡成就的几率其实非常小，但是如果在生命的尽头回望一生，找不出一个闪光点，那该才是最苦闷遗憾的事吧。</p>
		<p>与天斗，其乐无穷。真真体会到这句话时，其实更多的是一种无奈，豪言壮语背后的坎坷只有其中人才能感受到。不过，我想我会一直前行，等到我依依东望的时候能够看到属于我自己的荣耀。</p>
            </div>
        </div>
        <div class="right aside">
            <ul class="myInfo">
                <li>name: <span>谭峰</span></li>
                <li>hometown: <span>四川遂宁</span></li>
                <li>present address: <span>四川成都</span></li>
                <li>profession: <span>web</span></li>
                <li>like books: <span>《挪威的森林》、《围城》</span></li>
            </ul>

            <div class="cube">
                <div>
                    <table>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div>
                    <table>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div>
                    <table>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div>
                    <table>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div>
                    <table>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div>
                    <table>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content1 %}

{% block content2 %}{% endblock content2 %}

{% block aside %}
{% endblock aside %}