{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content1 %}
<body>
    <header class="clearfix headActive">
        <span class="logo">TF<span>blog</span></span>
        <nav>
            <a class="active" href="">首页</a>
            <a href="{% url 'blog:about' %}">关于我</a>
            <a href="{% url 'blog:life' %}">生活</a>
            <a href="{% url 'blog:time' %}">时光轴</a>
            <a href="{% url 'blog:technique' %}">技术分享</a>
            <a href="{% url 'blog:feeling' %}">感悟</a>
            <a href="{% url 'blog:messages' %}">留言板</a>
        </nav>
    </header>

    <div class="view">
        <p>但行好事，莫问前程</p>
        <p>淡泊明志，宁静致远</p>
        <button type="button" id="down"><span class="glyphicon glyphicon-triangle-bottom"></span></button>
    </div>

    <div class="main clearfix">
        <h2><span>文章<span>推荐</span></span></h2>
        <div class="left blogList">
            {% for article in newest_art %}
            <div class="article">
                <h3><a href="">{{ article.A_title }}</a></h3>
                <div class="content clearfix">
                    <div class="img">
                        <img src="{% static article.A_cover %}" alt="">
                    </div>
                    <span class="desc">{{ article.A_content|safe }}</span>
                    <a href="{% url 'blog:article' article.id %}" target="_blank"><button type="button" class="btn btn-danger">阅读全文 >></button></a>
                </div>
                <p class="foot">
                    <span class="glyphicon glyphicon-time">
                        <span class="pubTime">{{ article.A_pubTime }}</span>
                    </span>
                    <span>
                        作者：<span>{{ article.A_author }}</span>
                    </span>
                    <span class="classify">
                        分类：[<a href="">{{ article.A_classify }}</a>]
                    </span>
                </p>
            </div>
            {% endfor %}
        </div>
        <div class="right aside">
            <div class="weather">
                <div class="content clearfix">
                    <div class="city">
                        <p>成都</p>
                    </div>
                    <div class="info">
                        <p>今日</p>
                        <p>7-13°</p>
                    </div>
                </div>
            </div>
{% endblock content1 %}

{% block content2 %}{% endblock content2 %}

    {% block jsFiles %}
    <script type="text/javascript" src="{% static 'js/style.js' %}"></script>
    {% endblock jsFiles %}
